@import url(normalize.css);

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #141414;
}
.main-content{
    margin-top: 109px;
} 
.img {
  width: 100%;
  height: 100%;
}
.img--logo {
  height: 24.86px;
  width: 92px;
  margin-right: 22px;
  margin-left: 14px;
  margin-top: 22px;
}
.img--search::before {
  height: 19.15px;
  width: 18.8px;
  margin-right: 60px;
 
}

/*-----------------------------------
/
/ Navigation Bar
/
------------------------------------*/

nav {
  width: 100%;
  height: 68px;
  position: fixed;
  top: 0;
}
nav ul {
  margin-left: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav ul a {
  color: #fff;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 0.5px;
  line-height: 17px;
  text-align: center;
}
nav ul form {
  position: absolute;
  right: 63px;
  top: 24px;
}

form{
  
 position: absolute;
 right: 120px;
 top: 18px;
 height: 34px;
 width: 268px;
 border: 1px solid #DDDDDD;
 background-color: #1D1C1D;

 
}
 form button {
  border: none;
}
.search-box img{
  margin-top: 8px;
    margin-left: 3px;
}
.search-box input{
  /* padding-bottom: 8px; */
  padding-top: 7px;
  padding-left: 0;
  padding-right: 111px;
  border: none;
  margin-left: 2px;
}


nav:hover {
  background: #141414;
}
nav:hover a {
  color: #fff;
}

.nav_item--home {
  height: 17px;
  width: 41px;
  margin-right: 19px;
  margin-left: 22px;
  margin-top: 21px;
}
.nav_item--tv {
  height: 17px;
  width: 68px;
  margin-right: 16px;
  margin-left: 0;
  margin-top: 19px;
}
.nav_item--movies {
  height: 17px;
  width: 48px;
  margin-right: 18px;
  margin-left: 0;
  margin-top: 19px;
}
.nav_item--recent-add {
  height: 17px;
  width: 121px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 19px;
}
.nav_item--my-list {
  height: 17px;
  width: 106px;
  margin-right: 16px;
  margin-left: 0;
  margin-top: 19px;
}

/*-----------------------------------
/
/ Carousel
/
------------------------------------*/

.carousel-type2 {
  display: flex;
  flex-direction: row;
  overflow: auto;
  height: 150px;
  width: 100%;
  margin-bottom: -5px;
  margin-top: 10px;
  margin-left: 60px;
}

.img-position {
  margin-right: 5px;
}

h2 {
  margin-left: 60px;
}
.section-vs{
  visibility: hidden;
}

.progress-bar {
  height: 4px;
  width: 132px;
  margin-top: -6px;
  margin-left: 42px;
  visibility: hidden;
}
.bar-v {
  visibility: hidden;
}

/*-----------------------------------
/
/ FOOTER
/
------------------------------------*/

footer {
  background-color: #141414;
  height: 246px;
  width: 860px;
  margin-right: 362px;
  margin-left: 229px;
  margin-top: 305px;
  margin-bottom: 35px;
}
footer .social-media {
  width: 191px;
  display: flex;
  justify-content: space-between;
}
footer .links-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .links-footer ul li {
  width: 120px;
  list-style: none;
  margin-bottom: 15px;
  margin-right: 65px;
  margin-left: 5px;
  color: #7F7F7F;
}
footer .links-footer ul a {
  text-decoration: none;
}
footer .col--1 {
  margin-left: -4px;
  margin-top: 3px;
  margin-bottom: 61px;
  width: 180px;
}
footer .col--2 {
  margin-left: -78px;
  margin-top: 3px;
  width: 100px;
}
footer .col--3 {
  width: 80px;
  margin-left: -2px;
  margin-top: 3px;
}
footer .col--4 {
  width: 128px;
  margin-left: 20px;
  margin-top: 3px;
}
footer .copyright {
  height: 17px;
  width: 120px;
  margin-top: 58px;
}

/*-----------------------------------
/
/ Styles typography
/
------------------------------------*/

h2 {
  color: #fff;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.16px;
  line-height: 24px;
}

footer .links-footer ul li, footer .links-footer ul a, footer .copyright {
  height: 16px;
  width: 118px;
  color: #7F7F7F;
  font-family: Helvetica;
  font-size: 13px;
  letter-spacing: 0.25px;
  line-height: 16px;
}





/* //tricks to work better //delete when finished.------------------------------------ */


html.debug {

  background: transparent url(/ikigai-project-5-netflix-clone-html-css-CristianDavidCabrera/mockups/01-search.jpg) no-repeat top left; 
  background-size: 100%;
	

}
html.debug 	body {
  opacity: 0.7;
}

/* //tricks to work better------------------------------------------------------------ */
