// ======================================
//  Mixins
// ======================================

// Colors
@mixin btn-color($map) {
    @each $theme, $color in $map {
      &--#{$theme} {
        background-color: $color;
      }
    } 
}

// Create a flex container
@mixin flexy(
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null,
  $ali:null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $ali;
}

//Media queries
@mixin breakpoint($value) {
    @media (min-width: $value){
        @content;
    }
}
