// ======================================
//  Mixins
// ======================================

// // Colors
// @mixin btn-color($map) {
//     @each $theme, $color in $map {
//       &--#{$theme} {
//         background-color: $color;
//       }
//     } 
// }

// Create a flex container
@mixin flexy(
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null,
  $ali:null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $ali;
}



// @mixin get-img($map) {
//   @each $image, $rout in $map {
//       &--#{$image}.img-position {
//           background-color: $color;
//           @content;
//       }
//   } 
// }