// ======================================
//  Variables
// ======================================

// Colors

$white: #fff;
$primary-color:  #141414;
$font-color:rgba(255, 255, 255, 0.4);
$font-type: Helvetica;


