// ======================================
//  Variables
// ======================================

// Colors

$white: #fff;
$primary-color:  #141414;
$font-color:rgba(255, 255, 255, 0.4);
$font-type: Helvetica;


// ======================================
//  Maps
// ======================================

//Map Images

// $image: (
//   "--1": "movie-square-bfbegonia.svg",
//   "--2": "movie-square-modernfamily.svg",
//   "--3": "movie-square-rickmorty.svg",
//   "--4": "movie-square-magichumans.svg",
//   "--5": "movie-square-cosmos.svg",
//   "--6": "movie-square-bfbegonia.svg",
//   "--7": "movie-square-desencant-sh.svg"
// );