.carousel-type1 {
@include flexy($dir: row);
  @extend %style-box-1;
  overflow: auto;
  height: 434px;
  width: 100%;
  margin-bottom: 63px;
  margin-right: 5px;
  margin-top: -183px;
  margin-left: 60px;
}

.carousel-type2 {
  @include flexy($dir: row);
  @extend %style-box-2;
  overflow: auto;
  height: 121.69px;
  width: 100%;
  margin-bottom: 44px;
  margin-left: 60px;
}
.content-movie {
  height: 810.44px;
  width: 100%;
}
h2{
    @extend %style-typography;
    margin-left: 60px;
  }
#original {
  height: 34px;
  width: 210px;
  margin-top: -190px;
  margin-bottom: 183.5px;
  margin-left: 54px;
}