.carousel-type1 {
@include flexy($dir: row);
  @extend %style-box-1;
  overflow: auto;
  height: 434px;
  width: 100%;
  margin-bottom: 63px;
  margin-right: 5px;
}

.carousel-type2 {
  @include flexy($dir: row);
  @extend %style-box-2;
  height: 121.69px;
  width: 100%;
  margin-bottom: 44px;
}
.content-movie {
  height: 810.44px;
  width: 100%;
}
h2{
    @extend %style-typography;
  }