footer {
  background-color: #141414;
  @include box-nav(
    $h: 246px,
    $w: 849px,
    $margin-r: 362px,
    $margin-l: 229px,
    $margin-t: 146px,
    $margin-b: 35px
  );
  .social-media {
    width: 191px;
    margin-top: 235px;
    display: flex;
    justify-content: space-between;
  }
  .links-footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    ul {
      li {
        width: 100%;
        list-style: none;
        margin-bottom: 15px;
        margin-right: 65px;
        margin-left: 5px;
        color: $font-secondary-color;	
        
      }
      a {
        text-decoration: none;
        // font-family: $font-type;
        // font-size: 14px;
        // font-weight: lighter;
        // letter-spacing: 0.5px;
        // line-height: 17px;
        // text-align: center;

        height: 16px;
        width: 105px;
        color: $font-secondary-color;	
        font-family: $font-type;
        font-size: 13px;
        letter-spacing: 0.25px;
        line-height: 16px;
      }
    }
  }
// .col--1{

//   margin-left: -4px;
// }
// .col--2{
//   margin-left: 22px;
// }

// .col--3{
//   // margin-left: 12px;
//   margin-left: 46px;
//   margin-right: -26px;
// }
// .col--4{
//   margin-left: 12px;
// }
// .col--5{
//   margin-left: 12px;
// }


  .copyright{
    height: 17px;	
    width: 116px;	
    margin-top: 58px;

    color: $font-secondary-color;	
    font-family: $font-type;
    font-size: 14px;	
    letter-spacing: 0.11px;	
    line-height: 17px;
  }
}
