header {
  border: 2px solid red;
}


html.debug {
	background: transparent url(/ikigai-project-5-netflix-clone-html-css-CristianDavidCabrera/mockups/00-home.jpg) no-repeat top left;
	background-size: 100%;
	
	body {
		opacity: 0.7;
	}
}