// ======================================
//  Images
// ======================================

//Center logo

.img {
  &--logo {
    // margin: 1.2em 3.4em;
    // width: auto;
    height: 24.86px;
    width: 92px;
    margin: .23333rem;
    margin-right: 1.2em;
  }
  &--lupa {
    height: 19.15px;
    width: 18.8px;
  }
}

//loop to put images onto carrusel 2

// .img {
//   width:auto;
//   height: 100%;
// }