//Nav Items

.nav {
  @include flexy($disp: flex,$dir: row);
  .nav_item {
    @extend %layout;
    list-style: none;
    a {
        @extend %style-box;
        color: $font-color;
        text-decoration: none;
        font-family: $font-type;
        font-size: 1rem;
        font-weight: lighter;
        letter-spacing: 0.5px;
        line-height: 17px;
      }
  }
}
